[Unit]
Description=APRS tracker
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/piaprs
ExecStart=/home/pi/piaprs/tracker.py
PIDFile=/var/run/tracker.pid

[Install]
WantedBy=network-online.target